@mixin singup-input-base {
  width: 100%;
  background: #f5f8fa;
  border-radius: 0.5rem;
  color: #7695a5;
  height: 3rem;
  padding: 0 1.6rem;
}

form {
  width: 70rem;
  margin: 6.4rem auto;
  background: white;
  border: 1px solid #d3e2e5;
  border-radius: 2rem;
  overflow: hidden;
  padding: 8rem;
}

.input-block + .input-block {
  margin-top: 2.4rem;
  position: relative;
}

.input-block label {
  color: #475e6b;
  margin-bottom: 0.8rem;
  line-height: 1.5;
}

.input-block input {
  @include singup-input-base;
}
.singup-input {
  border: 1px solid #d3e2e5;
}
.singup-input-error {
  border: 1px solid rgb(168, 21, 21);
}

.input-block input::placeholder {
  color: #7695a5;
  opacity: 100;
}
.input-block input:focus {
  border: 1px Solid rgb(46, 103, 141);
}

.input-block .message-error{
  font-size: 14px;
  text-align: right;
  color: #b82020;  
}

