Functional requirements:


>> Users 
    attribute: {
        name
        username
        age
        password
    }
    methods CRUD 
    * Create
    * Read
    * Update
    * Delete
    

>> Task

>> Goals