.input-block .customIcon {
    position: absolute;
    background-position: right center;
    top: 32px;
    left: auto;
    right: 10px;
    cursor: pointer;
  
    /* display: flex; */
    align-items: left;
    justify-content: center;
    text-align: left;
  }
  