.input-block .customIcon {
    position: absolute;
    top: 34px;
    left: auto;
    right: 10px;
    cursor: pointer;
  
    display: flex;
    align-items: left;
    justify-content: center;
    text-align: left;
  }
  